<!--<div class="card-columns" *ngIf="resultadoBusqueda">
    <div class="card" *ngFor="let resultado of resultadoBusqueda">
        <img class="card-img-top" [src]="resultado.backdrop_path | imagenPelicula" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ resultado.title }}</h5>
            <p class="card-text">{{ resultado.overview }}</p>
            <button type="button" class="btn btn-outline-primary btn-block" (click)="enviarId(resultado.id)">Ver mas...</button>
        </div>
    </div>
</div>-->